<h3>Olympic programs:</h3>
<%@programs.each do |program|%>
<%= link_to(program.name,"/programs/#{program.id}")%>(<%=program.score%>)
<br>
<%end%>
<br>
<a class="btn btn-success", href="/programs/new", role="button">Create Program</a>
