

<ol> Type of programs:
<li><%=link_to("Powerlifting (#{@pl_count})","/programs/powerlifting_index")%></li>
<li><%=link_to("Bodybuilding (#{@bb_count})","/programs/bodybuilding_index")%></li>
<li><%=link_to("Strongman (#{@sm_count})","/programs/strongman_index")%></li>
<li><%=link_to("Olympic (#{@ol_count})","/programs/olympic_index")%></li>
</ol>
<a class="btn btn-success", href="/programs/new", role="button">Create Program</a>