/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-header {
  float: left;
  text-align: center;
  width: 100%;
}
.navbar-brand.title {
  float: none;
  font-size: 30px;
}

.navbar-brand.abs
    {
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
    
    .cont.external {
      max-width: 100%;
      height: 100vh;
      flex-basis: auto;
      display: flex;
      padding: 0; 
      border: 0; 
      margin: 0;
      overflow: hidden; 
      flex-basis: auto; 
  }  
  
  .section {
    background-size: cover;
	  background-position: center;
    margin-left: 0;
    padding: 0; 
    border: 0; 
    margin: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    flex-grow: 7;
    overflow: hidden;
  }

  .shrink {
    flex-grow: 1;
  }
  .program-section{
    height: 100%;
  }

  .powerlifting{
    background:#e53935
  }
  .bodybuilding{
    background:#1976D2
  }
  .strongman{
    background:#212121
  }
  .olympic{
    background:#388E3C
  }

  .search {
    width: 400px;
    height: 80px;
    position: relative;
    overflow: hidden;
    &-input {
      width: 100%;
      height: 100%;
      padding: 0px 50px 5px 50px;
      position: absolute;
      z-index: 1;
      border: none;
      outline: none;
      background-color: rgba(255,255,255,.15);
      color: #ddd;
      font-size: 28px;
      letter-spacing: .3px;
      transform-origin: 10%;
      transform: scaleX(0);
      font-family: 'PT Sans', sans-serif;
    }
    &-button {
      position: absolute;
      right: 60px;
      bottom: 33px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #fff;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      transform: rotate(45deg);
      -webkit-tap-highlight-color: transparent;
      &::-moz-focus-inner {
        border: 0;
      }
    }
    &-label {
      position: absolute;
      top: 0;
      left: 110px;
      width: 325px;
      height: 65px;
      line-height: 80px;
      color: #ddd;
      font-size: 28px;
      letter-spacing: .3px;
      pointer-events: none;
      overflow: hidden;
      div {
        white-space: pre;
      }
    }
    &-border {
      width: 25px;
      height: 3px;
      position: absolute;
      right: 45px;
      bottom: 29px;
      transform: rotate(45deg);
      background-color: #fff;
      cursor: pointer;
    }
    &-text {
      opacity: 0;
      pointer-events: none;
    }
    &.edge:before {
      opacity: 1;
    }
    &-close {
      position: absolute;
      right: 15px;
      top: 1px;
      z-index: 5;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s;
      &.visible {
        opacity: 1;
        pointer-events: auto;
        transition-delay: .2s;
      }
    }
  }

  body{
    margin: 0;
    padding: 0;
    border: 0;
  }

  html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
  }

#pl {
  -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
    -webkit-transition: width .5s;
    transition: width .5s;
    width: 0;
    overflow: hidden;
}
  
 




    






  
